.create {
  display: none;
}

#create {
  display: none;
}

.create-label {
  cursor: pointer;
  user-select: none;
  padding: 10px;
}

#create:checked ~ .create-label {
  background-color: lightgray;
}

#create:checked ~ .create {
  display: block;
}

.tasks {
  display: none;
}

#tasks {
  display: none;
}

.tasks-label {
  cursor: pointer;
  user-select: none;
  padding: 10px;
}

#tasks:checked ~ .tasks-label {
  background-color: lightgray;
}

#tasks:checked ~ .tasks {
  display: block;
}
  