<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE js</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <div id="root">
        <!-- check conditions for auth -->
        <div v-if="(isAuth)">
            <div>
                <!-- nav items -->
                <input type="radio" name="page" id="tasks" checked>
                <label for="tasks" class="tasks-label">Taks</label>
                <input type="radio" name="page" id="create">
                <label for="create" class="create-label">Create</label>
                <button @click="Exit">Exit</button>
    
                <!-- content to items -->
                <div class="tasks">
                    <div v-for="task in tasks">
                        <h3>{{task[1]}}</h3>
                        <div>{{task[2]}}</div>
                        <button @click="DeleteTask(task[0])">Delete</button>
                    </div>
                </div>
                <div class="create">
                    <h3>
                        <input type="text" v-model="task_title">
                        <input type="text" v-model="task_description">
                        <input type="datetime-local" v-model="task_start" @change="UpdateStopTime">
                        <input type="datetime-local" v-model="task_stop">
                        <button @click="CreateTask">Create</button>
                    </h3>
                </div>
            </div>
        </div>
        <div v-else @keyup.enter="Login(userLogin, userPassword)">
            <input type="text" placeholder="login" v-model="userLogin">
            <input type="password" placeholder="password" v-model="userPassword">
            <button @click="Login()">Login</button>
        </div>
    </div>
    <script src="/static/app.js"></script>
</body>
</html>